body {
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	height: 100%;
	font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a:link {
}
a {
    outline: medium none;
}
a {
    cursor: pointer;
    font: 12px/1.231 arial,helvetica,Trebuchet MS,clean,sans-serif !important;
}
li {
    list-style: none outside none;
}

.ui-widget {
	font-size: 85%;
}
/*
.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}*/

#header {
	text-align: center;
}

#header h1 {
	font-size: 250%;
}

.dates-tbl-header {
	width: 80px;
}

.trans-col-01 {
	width: 200px;
	white-space: nowrap;
}

.trans-col-02 {
	width: 100px;
	text-align: right;
	white-space: nowrap;
}

.trans-row-01 {
	background-color: #dddddd;/*#76a5af;*/
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid black;
}

.trans-row-02 {
	background-color: white;
}

.trans-value-positive-true {
	color: green;
}

.trans-value-positive-false {
	color: red;
}

.trans-value-total {
	color: black;
	font-weight: bold;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.center-container {
  position: relative;
}

.space-group {
	padding-bottom: 5px;
}


/*.ui-datatable table {
    width: 100px !important;
}*/

.ui-datatable .ui-datatable-header {
	font-size: 1.4em;
	font-weight: bold;
	border: 1px solid #D1D1D1;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #84cbff;
    background-image: linear-gradient(to bottom, #84cbff, #6db4ec);
    color: black;
    font-weight: normal;
}
/*url("/balance/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap");
url("/balance/javax.faces.resource/images/ui-icons_333333_256x240.png.jsf?ln=primefaces-bootstrap")*/
.ui-state-highlight .ui-icon {
    background-image:url("/balance/javax.faces.resource/images/ui-icons_333333_256x240.png.jsf?ln=primefaces-bootstrap");
}

.ui-selectonemenu-panel, .ui-selectonemenu-list-item {
	font-size: 90%;
}
