body {
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	height: 100%;
	font-size: 12px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

#header {
	text-align: center;
}

#header h1 {
	font-size: 250%;
}

.trans-col-01 {
	width: 400px;
	white-space: nowrap;
}

.trans-col-02 {
	width: 100px;
	text-align: right;
	white-space: nowrap;
}

.trans-row-01 {
	background-color: #76a5af;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid black;
}

.trans-row-02 {
	background-color: white;
}



.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center.is-right {
  left: auto; right: 20px;
  text-align: right;
}

.absolute-center.is-left {
  right: auto; left: 20px;
  text-align: left;
}

.ui-datatable .ui-datatable-header {
	font-size: 1.4em;
	font-weight: bold;
	border: 1px solid #D1D1D1;
}
